{{#if this.showDropDownLabel}}
<label> {{preLabel}} {{label}}</label>
{{/if}}
{{!--<input type="text" value={{rangeText}} class="daterangepicker-input form-control" />--}}
<span class={{concat "daterangepicker-input date-picker-cust" " " this.customClass }}> 
	{{#if this.subLabel}}
		<span class="date-picker-cust-sublabel"> {{this.subLabel}} </span> 
	{{/if}}
	<span class="daterangepicker-input-label"> {{this.rangeText}} </span> 
	{{#if this.subLabel}}
		<span class="caret"></span>
	{{/if}}
</span>
	
{{!--<label>{{label}}</label>
{{input value=rangeText class='daterangepicker-input form-control' placeholder=placeholder}}
<div class="hide">
  {{input value=start}}
  {{input value=end}}
</div>--}}
